In [ ]:
a) SELECT Temperature(C) FROM tablename;
b) SELECT DISTINCT City FROM tablename;
c) SELECT * FROM tablename WHERE Country="India";
d) SELECT * FROM tablename WHERE Season="Fall";
e) SELECT City,Country,Season FROM tablename WHERE  Rainfall(mm) BETWEEN 200 AND 400;
f) SELECT City,Country FROM tablename WHERE Temperature(C) > 20 ORDER BY Temperature(C);
g) SELECT SUM(Rainfall(c)) AS Total FROM tablename WHERE City="Cairo" GROUP BY City;
h) SELECT SUM(Rainfall(c)) AS Total FROM tablename GROUP BY Season;